{% include "header.html" with title=assignment.title %}
    <h2>DIY Your Caveman</h2>
    <a href="https://www.ehow.com/how_5070949_make-caveman-cavewoman-costume.html#:~:text=Making%20Your%20Cavewoman%20Costume%20DIY" target="_blank">Tutorial</a>
    <h2>Ready to go Costume</h2>
    <div>
        <a href="https://www.amazon.com/Jecery-Inflatable-Prehistoric-Accessories-Halloween/dp/B0B6B4RVBM/ref=asc_df_B0B2NNP7B3/?tag=hyprod-20&linkCode=df0&hvadid=677691877422&hvpos=&hvnetw=g&hvrand=10579493336862675402&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9029754&hvtargid=pla-1779032486117&mcid=9193365fbd203fc188ef9dd6ca03bc4a&th=1" target="_blank">
            <img src="/static/cavewoman.jpg" alt="Cavewoman Costume" width="300" height="300">
        </a>
        <a href="https://www.amazon.com/Jecery-Inflatable-Prehistoric-Accessories-Halloween/dp/B0B2NNP7B3/ref=asc_df_B0B2NNP7B3/?tag=hyprod-20&linkCode=df0&hvadid=677691877422&hvpos=&hvnetw=g&hvrand=10579493336862675402&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9029754&hvtargid=pla-1779032486117&mcid=9193365fbd203fc188ef9dd6ca03bc4a&th=1" target="_blank">
            <img src="/static/caveman.jpg" alt="Caveman Costume" width="300" height="300">
        </a>
    </div>
</body>