<script type="module" src="/static/main.js"></script>
<head>
    <meta charset="utf-8">
    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/main.css">
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <nav>
            <menu>
                <li>
                    <a id="title" href="/">CS 3550</a>
                </li>
                <li>
                    <a href="/assignments.html">Assignments</a>
                </li>
            </menu>
            <menu>
                <li>
                    <a href="/profile.html">Profile</a>
                </li>
            </menu>
        </nav>
    </header>