<!DOCTYPE html>

{% include "header.html" with title="Profile" %}
    <main>
        <h1>Your Grades</h1>
        <section class="actionBlock">
            <div>
                <p>Currently logged in as {{ user }}.</p>
                <p><a role="button" href="/profile/logout/">Log out</a></p>
            </div>
        </section>
        <table id="profileTable">
        {% if is_student %}
            <thead>
                <tr>
                    <th scope="row">Assignment</th>
                    <th class="numerical sortable" scope="row">Score</th>
                </tr>
            </thead>
            <tbody>
                {% for data in assignment_data %}
                <tr data-index="{{ forloop.counter }}">
                    <td><a href="/{{data.assignment.id}}/submissions/">{{ data.assignment.title }}</a></td>
                    <td class="numerical" data-weight="{{data.assignment.weight}}">{{ data.score_status }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td>Final Grade</td>
                    <td class="numerical">{{ final_grade }}</td>
                </tr>
                <!-- <tr>
                    <td><button>Hypothesize</button></td>
                </tr> -->
            </tfoot>
        {% else %}
            <thead>
                <tr>
                    <th scope="row">Assignment</th>
                    <th class="numerical sortable" scope="row">Graded</th>
                </tr>
            </thead>
            <tbody>
                {% for data in assignment_data %}
                <tr data-index="{{ forloop.counter }}">
                    <td><a href="/{{data.assignment.id}}/submissions/">{{ data.assignment.title }}</a></td>
                    <td class="numerical">{{ data.graded_submissions }}/{{ data.assigned_submissions }}</td>
                </tr>
                {% endfor %}
            </tbody>
        {% endif %}
        </table>
    </main>
</body>